<h4>Podpunkt a: Wypisz relatedObjects</h4>
<ol style="list-style-type: none;">
  <li *ngFor="let object of relatedObjects">
    {{object.id}} - {{object.name}}
  </li>
</ol>

<h4> Podpunkt b: Dodaj nowy element w relatedObjects </h4>
<button (click)='addNewRelatedObject()'>Add third related Object</button>

<h4>Podpunkt c: Zmodyfikuj element w relatedObjects, w którym name = 'test2'</h4>
<input type='number' [(ngModel)]='updatedObject.id'placeholder='new id'> &nbsp; <input type="text"[(ngModel)]='updatedObject.name' placeholder='new name'> &nbsp;
<button (click)='editSecondElement(updatedObject)'>Add new name to object test2</button>

<router-outlet></router-outlet>